@{
    ViewBag.Title = "About";
}

<div class="container" style="font-family: Anton; color:#20438d">
    <h2>Home Budget Money Saving Tips</h2>
    <p>There are many simple things you can do to ease your monthly finances, click to find out...</p>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Plan Your Meals</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        One of the greatest downfalls of even the most frugal family is an impromptu trip to McDonald’s in lieu
                        of dinner. Instead of serving up a healthy meal for under $2 a serving, you end up splurging – on calories
                        and money – to feed your family, making it an automatic budget buster.
                    </p>
                    <p>
                        By taking the time to plan your family’s meals, you remove the excuse of not knowing what’s for dinner.
                        Though you can plan any way you want, I find that it’s easiest to plan a week at a time. When I already
                        know that I’m serving up chicken on Tuesdays, I can get started on supper without staring at the fridge for
                        20 minutes or resorting to a fast food meal. To help plan your meals, use a free online meal planner, such
                        as Food on the Table.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Shop Smart</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        You don’t have to be a hardcore couponer to save money on groceries. Instead, smart strategies can
                        relieve pressure at the store so you don’t overspend.
                    </p>
                    <p>
                        It’s imperative that you only shop once and get everything you need in one trip. Heading to the store
                        for a forgotten gallon of milk or an extra loaf of bread can cause you to repeatedly overspend all week
                        long, and plus, it wastes gas. I also like to shop without the kids. When my little ones are with me, it’s
                        harder to stay focused and resist spontaneous purchases – especially when they’re clamoring for them.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Arrange for a Staycation</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        Instead of blowing your budget on a trip to Disneyland, see what fun stuff you can do nearby instead.
                        If you can take a few days off work and school, a “staycation” feels like a vacation even if you’re
                        sleeping in your own bed.
                    </p>
                    <p>
                        Many nearby towns and cities have tons of stuff to do, whether it’s historical sites, campgrounds
                        and hiking trails, free museums, or cheap daytime admission to the movie theater. When times are
                        tight, it’s fine to nix the yearly vacation for something new. As long as you make it fun for your
                        kids, they’ll hardly miss the trip. Vacations are about spending time and making memories together.
                        Do you really have to go out-of-state for that?
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"> Invest in Reusable Items</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        Disposable goods are usually cheap and super-convenient, but not when you have to buy the same
                        items repeatedly. Your family probably uses a ton of paper products, but why keep spending your
                        cash on them when you can purchase reusable goods instead?
                    </p>
                    <p>
                        Paper towels can cost around $1 a roll – instead, buy a pack of $1 washable cloths and you’ll
                        save money in the long run. Rather than buying plastic water bottles by the case, purchase a
                        filter and aluminum water bottles for each family member to get your water for cheap. Before
                        you grab a disposable item off store shelves, ask yourself if there’s a reusable solution instead.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"> Buy Secondhand</a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    Buying previously used items can definitely take some getting used to, especially if you’re used to
                    brand new gear. But tons of stuff can be bought used without any difference as to how and when you use it.

                    For instance, I refuse to buy books from the big box bookstore when I can frequent local used book shops
                    for way cheaper. I can fill my kids’ bookshelves and support local small businesses at the same time. Toys
                    are another item you can save money on by buying used. Outdoor bikes and scooters are big-ticket items,
                    but they’re significantly more affordable when bought from garage sales or thrift stores. You might
                    be surprised at what you can get for a small amount of money without sacrificing your kids’ fun.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Shop Around</a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                    A couple of years ago, I had the sneaking suspicion that I was paying too much for satellite television.
                    Being the reality TV junkie that I am, I wasn’t willing to get rid of our service (or the Disney Channel)
                    altogether, so I started shopping around. Once I collected various package prices from a couple of other
                    service providers, I contacted my own to negotiate a better rate. After only five minutes on the phone,
                    I had credits for a couple months’ worth of service, a lower price for my package, and six months of premium
                    channels for free.

                    Shopping around for cell phone plans, insurance, cable or satellite TV, or just about anything else
                    you pay for regularly can net you better deals without drastically changing your lifestyle.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7"> Entertain at Home</a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                    If the kids are driving you crazy, it can be tempting to head out to the movie theater or bowling
                    alley just to get out of the house. But your day trips can spell disaster for your budget.

                    Instead of nixing family time altogether, find ways to keep the kids entertained at home. A stash
                    of board games, a run through the sprinkler, or a home movie night complete with popcorn can keep
                    your kids occupied for pennies. If you need to get out of the house, try being park critics: Head
                    out to parks in your area and rate them according to a bunch of different characteristics. It’s fun,
                    and let’s you know which places to come back to later.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse8"> Head to the Library</a>
                </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                    One of the best ways that I entertain my kids on the cheap is a trip to the public library.
                    It’s a perfect outing, and allows us to bring home free movies, audiobooks, and books to enjoy
                    throughout the week. It saves a ton of money on rental fees, and is the perfect way to answer
                    the age-old whine, “I’m bored!”

                    Rental movies cost about a dollar a day, and can be a major problem if not returned on time.
                    As long as you live within your city’s limits, library cards are free and late fees are minimal.
                    You can save more money if you make sure to always get your items back on time.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse9"> Be Energy Smart</a>
                </h4>
            </div>
            <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                    You’ve probably heard it a million times: Save energy and you save money. Of course, not every
                    family has the means or the know-how to install a new low-flow toilet or a tankless water heater.
                    Still, you can make saving simple by conserving energy the old-fashioned way: Turning off lights,
                    timing showers, or taking baths can all help to lower utility bills, while teaching your kids an
                    important lesson about energy conservation. While you might find yourself nagging from time to time,
                    conserving energy eventually becomes habitual for everyone.
                </div>
            </div>
        </div>
    </div>
</div>
