@{
    ViewBag.Title = "Contact";
}
<h2 style="font-family: Anton; color:#20438d">Contact us.</h2>

<address style="font-family: Anton; color:#5988ec">
    Netzer Mishaly and Ron Cohen<br />
    Sapir College, Sderot<br />
    Phone 1: 052.477.3764 <br />
    Phone 2: 054.667.6507 <br />
</address>

<address style="font-family: Anton; color:#5988ec">
    <strong>Support:</strong>   <a href="mailto:netzer7@gmail.com">netzer7@gmail.com</a><br />
    <strong>Support:</strong>   <a href="mailto:ron_12345@icloud.com">ron_12345@icloud.com</a><br />
</address>